-- Ortak şemalar
CREATE SCHEMA IF NOT EXISTS "audit"        AUTHORIZATION :DB_USER;
CREATE SCHEMA IF NOT EXISTS "subscription" AUTHORIZATION :DB_USER;
CREATE SCHEMA IF NOT EXISTS "billing"      AUTHORIZATION :DB_USER;
CREATE SCHEMA IF NOT EXISTS "metering"     AUTHORIZATION :DB_USER;
CREATE SCHEMA IF NOT EXISTS "public"       AUTHORIZATION :DB_USER;
